
## Visão Geral de Valor e Quantidade de Entregas.

Link de visualização do trabalho:

https://lookerstudio.google.com/reporting/f1183a3e-507e-4923-9e10-9eced943c661/page/QLfgE

Scripts bases para condições e outras análises no Lookerstudio

In [4]:
codigo_caso_lookstudio="""
case
    when Mes_selecao =1 then 'Janeiro'
    when Mes_selecao = 2 then 'Fevereiro'
    when Mes_selecao =3 then 'Março'
    when Mes_selecao =4 then 'Abril'
    when Mes_selecao =5 then 'Maio'
    when Mes_selecao =6 then 'Junho'
    when Mes_selecao =7 then 'Julho'
    when Mes_selecao =8 then 'Agosto'
    when Mes_selecao =9 then 'Setembro'
    when Mes_selecao =10 then 'Outubro'
    when Mes_selecao =11 then 'Novembro'
    when Mes_selecao =12 then 'Dezembro'
end
"""

print(codigo_caso_lookstudio)

case
    when Mes_selecao =1 then 'Janeiro'
    when Mes_selecao = 2 then 'Fevereiro'
    when Mes_selecao =3 then 'Março'
    when Mes_selecao =4 then 'Abril'
    when Mes_selecao =5 then 'Maio'
    when Mes_selecao =6 then 'Junho'
    when Mes_selecao =7 then 'Julho'
    when Mes_selecao =8 then 'Agosto'
    when Mes_selecao =9 then 'Setembro'
    when Mes_selecao =10 then 'Outubro'
    when Mes_selecao =11 then 'Novembro'
    when Mes_selecao =12 then 'Dezembro'
end

### concatenar os dados

In [6]:
codigo_lookstudio="""
--- nome_mes_selecionado => métrica
CONCAT('Vendas do mês -',nome_mes_selecionado)

"""
print(codigo_lookstudio)

--- nome_mes_selecionado => métrica
CONCAT('Vendas do mês -',nome_mes_selecionado)

In [7]:

codigo_lookstudio="""
--- nome_mes_selecionado => métrica
CONCAT('HORAS NA ESTRADA -',nome_mes_selecionado)

"""
print(codigo_lookstudio)

--- nome_mes_selecionado => métrica
CONCAT('HORAS NA ESTRADA -',nome_mes_selecionado)

In [8]:

codigo_lookstudio="""
Ano_selecao = year(data_chegada)


CONCAT('HORAS NA ESTRADA -',nome_mes_selecionado, '/',Ano_selecao)

"""
print(codigo_lookstudio)

Ano_selecao = year(data_chegada)


CONCAT('HORAS NA ESTRADA -',nome_mes_selecionado, '/',Ano_selecao)

Entrega plus => As entregas que a gente fez das 24, quantas tem um valor maior ou igual a 100mil. Consideraremos como uma super entrega, ou seja entrega plus.




Função parecida com concv, do excel
    
=CONVERTER(número, de_unidade, para_unidade)
    
=CONVERTER(10, "km", "m")

Resultado: 10.000 (converte 10 quilômetros para metros)

CONT.SE. No excel

Para contar as entregas com valor maior ou igual a 100 mil, use a fórmula:

=CONT.SE(B2:B6; ">=100000")

In [9]:
codigo_lookstudio="""

-- código de validação e filtro citado acima
case

when valor >= 100000 then 1
else 0

end

"""
print(codigo_lookstudio)

-- código de validação e filtro citado acima
case

when valor >= 100000 then 1
else 0

end

### Média de entregas por dia (Parâmetro, MONTH, CURRENT_DATETIME, YEAR, CASE e MAX).

Média de entregas por dia, exemplo 24 entregas em janeiro de 2021 dividido por 31 dias de janeiro = 0,774193548.

In [10]:
# Quantidade_Mes_deveria_ter

codigo_lookstudio="""
CASE
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28  
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE 0
END
"""
print(codigo_lookstudio)

CASE
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE 0
END

Teste Média da entrega/ dia

Record Count/COUNT(IF(MONTH(data_chegada) = 1,31, NULL))

In [12]:
codigo_lookstudio="""


CASE 
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END

"""
print(codigo_lookstudio)

# sum(Quantidade_Mes_deveria_ter) ficou 744 errado

CASE
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END

In [13]:
## distinto_Dias_Mes_deveria_ter
codigo_lookstudio="""


COUNT(DISTINCT CASE 
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END)


"""
print(codigo_lookstudio)

COUNT(DISTINCT CASE
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END)

## fórmula do distinct é o ideal para depois usar esse cálculo

(Record Count)/distinto_Dias_Mes_deveria_ter

In [14]:

#quantidade_valer_atual_mes

codigo_lookstudio="""


( CASE 
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END )


"""
print(codigo_lookstudio)

( CASE
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END )

# ideal cálculo

## Record Count/Max(quantidade_valer_atual_mes)

### Mês atual


MONTH(CURRENT_DATETIME("America/Sao_Paulo"))


## data atual corrente

CURRENT_DATETIME("America/Sao_Paulo")


## ano corrente

year(CURRENT_DATETIME("America/Sao_Paulo"))

In [15]:
# Dia para analisar
codigo_lookstudio="""


CASE
WHEN MES_ATUAL = 1 THEN 31
WHEN MES_ATUAL = 2 AND ANO_ATUAL IN (2020,2024,2028) THEN 29 
WHEN MES_ATUAL = 2 THEN 28
WHEN MES_ATUAL = 3 THEN 31
WHEN MES_ATUAL = 4 THEN 30
WHEN MES_ATUAL = 5 THEN 31
WHEN MES_ATUAL= 6 THEN 30
WHEN MES_ATUAL = 7 THEN 31
WHEN MES_ATUAL = 8 THEN 31
WHEN MES_ATUAL = 9 THEN 30
WHEN MES_ATUAL= 10 THEN 31
WHEN MES_ATUAL= 11 THEN 30
WHEN MES_ATUAL= 12 THEN 31
ELSE NULL
END 

"""
print(codigo_lookstudio)

CASE
WHEN MES_ATUAL = 1 THEN 31
WHEN MES_ATUAL = 2 AND ANO_ATUAL IN (2020,2024,2028) THEN 29
WHEN MES_ATUAL = 2 THEN 28
WHEN MES_ATUAL = 3 THEN 31
WHEN MES_ATUAL = 4 THEN 30
WHEN MES_ATUAL = 5 THEN 31
WHEN MES_ATUAL= 6 THEN 30
WHEN MES_ATUAL = 7 THEN 31
WHEN MES_ATUAL = 8 THEN 31
WHEN MES_ATUAL = 9 THEN 30
WHEN MES_ATUAL= 10 THEN 31
WHEN MES_ATUAL= 11 THEN 30
WHEN MES_ATUAL= 12 THEN 31
ELSE NULL
END

In [17]:
# mês checado a quantidade de dias, forma correta

# Ajustado os anos bissextos.
codigo_lookstudio="""

( CASE 
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 and YEAR(data_chegada) IN (2020,2024,2028) THEN 29  
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END )


"""
print(codigo_lookstudio)

( CASE
  WHEN MONTH(data_chegada) = 1 THEN 31
  WHEN MONTH(data_chegada) = 2 and YEAR(data_chegada) IN (2020,2024,2028) THEN 29
  WHEN MONTH(data_chegada) = 2 THEN 28
  WHEN MONTH(data_chegada) = 3 THEN 31
  WHEN MONTH(data_chegada) = 4 THEN 30
  WHEN MONTH(data_chegada) = 5 THEN 31
  WHEN MONTH(data_chegada) = 6 THEN 30
  WHEN MONTH(data_chegada) = 7 THEN 31
  WHEN MONTH(data_chegada) = 8 THEN 31
  WHEN MONTH(data_chegada) = 9 THEN 30
  WHEN MONTH(data_chegada) = 10 THEN 31
  WHEN MONTH(data_chegada) = 11 THEN 30
  WHEN MONTH(data_chegada) = 12 THEN 31
  ELSE NULL
END )

## Método 3 (média/dias)

Record Count/max(Valendo_Mes_ATUAL)



Correção

### DATA_ATUAL_ESCRITO

FORMAT_DATETIME("%d/%m/%Y", CURRENT_DATETIME("America/Sao_Paulo"))

##### FORMAT_DATETIME("%d/%m/%Y %H:%M:%S", CURRENT_DATETIME("America/Sao_Paulo"))




#----------------------------------------------------------------------------------------------------------------------

site para armazenar figuras na internet gratuitamente => postimages.org;

https://postimages.org/#google_vignette

### juntar foto no link, sempre de dentro para fora

imagem é o IMAGE

## HYERLINK(URL,Link Label)


métricas: ficha (link site que cliclamos no dashboard e abre o link) e foto (link salvo apenas a foto que fica dentro do lookerstudio


HYPERLINK(ficha,IMAGE(foto))

In [18]:
# concatenar os dados

codigo_lookstudio="""

--- Nome + Entregas
--- dimensções: nome e Record Count
CONCAT(nome,'[', Record Count, ' ]')


"""
print(codigo_lookstudio)

--- Nome + Entregas
--- dimensções: nome e Record Count
CONCAT(nome,'[', Record Count, ' ]')

###  Convertendo hora completa em segundos (SUM, SUBSTR e CAST)




saída pelo excel 

hora_saida => hour(E2)*3600

em português

=HORA(E2)*3600


1minuto tem 60segundos

1 hora tem 3600 segundos (60*60)

hora_saida => hour(E2)*3600 +minute(E2)


fórmula completa: hora_saida => hour(E2)*3600 +minute(E2)*60+second(E2)

em português: =HORA(E2)*3600+MINUTO(E2)*60+SEGUNDO(E2)


------------------------------------------------
##### SUBSTR(Field Or Expr, Start Index, Length)

#### SUM((CAST(SUBSTR(hora_saida,1,2) as NUMBER)*3600) + (CAST(SUBSTR(hora_saida, 4,2) as NUMBER)*60) + (CAST(SUBSTR(hora_saida, 7,2) as NUMBER)))


--------------------------------------------
SUBSTR(Field Or Expr, Start Index, Length

SUBSTR remover uma parte de um texto. 
    
--------------------------------------------
hora_saida '20:00:00' ou '16:45:00'

hora_saida completa

quero 2 caracteres começando no primeiro 

CAST transforma o texto como número  +

quero 2 caracteres começando na letra 4 (o mínuto é o quarto (4°) e o quinto (5°) caracter)

CAST transforma o texto como número

--------------------------------------------
o segundo é o último item que estão nos caracteres 7° e 8°)

--------------------------------------------
colocamos toda a fórmula dentro de uma soma

que está dentro de um valor agregado.


- dimensão hora_saida, colocar tudo em segundos
- 
SUM((CAST(SUBSTR(hora_saida,1,2) as NUMBER)*3600) + (CAST(SUBSTR(hora_saida, 4,2) as NUMBER)*60) + (CAST(SUBSTR(hora_saida, 7,2) as NUMBER)))

<span style="color:red;">' || 
    SUM((CAST(SUBSTR(hora_chegada,1,2) AS NUMBER) * 3600) + 
        (CAST(SUBSTR(hora_chegada, 4,2) AS NUMBER) * 60) + 
        (CAST(SUBSTR(hora_chegada, 7,2) AS NUMBER))) 
    || '</span>

## Jornada- Calculando os dias datas (SUM, CAST e DATE_DIFF). 

Calcular a jornada final precisamos ir na fonte de dados:

Fazer o novo cálculo:

### SUM(CAST((DATE_DIFF(data_chegada, data_saida)) as number))


DATE_DIFF cálcula a diferença entre dias de duas datas, como no exemplo acima na fórmula. 

Já a CAST é para transformar o resultado da função em número. 

Lembrando que a  data_chegada e data_saida são dimensões.
    
Em seguida vamos transformar o resultado da fórmula final acima em métrica. 

Vamos agregar no final por soma sum()

## SUM(CAST((DATE_DIFF(data_chegada, data_saida)) as number))

dimensões data_chegada e data_saida


Agora temos 3 colunas importantes Hora_saida_segundos, hora_chegada_segundos e Dias, para calcular a duração em jornadas de maneira correta.




1 dia = 86.400 segundos ou 24 horas

 ou 24 horas + (-6) = 24-6= 18 horas


 Ou seja, 60*60*24 =86.400

Nossa fórmula universal

No datastudio vou criar o cálculo da jornada universal, ou seja, sua duração:

Dias * 86400 + hora_chegada_segundos - hora_saida_segundos

ou seja jornada em s(segundos) (1min/60s)(1h/60min)(1dia/24h)

60×60×24= 86400

Dias = jornada_oficial/86400

(60×60×24)

### Ideal sempre colocar o nome da cidade com o traço e a sigla na frente. 


Campo de apresentação, usando SUBSTR(), que extrai um pedaço de um texto. 

O texto é o nosso destno

quero extrair a partir do sexto caracter, 

vai extrair do 6 para frente (100)
Cidade

SUBSTR(destino,6,100)


MG - Cidade
123456
começa no 6 a escrever a cidade. 

Ir na dica e extrair o nome de interesse:



### tirar a expressão regular

REGEXP_EXTRACT(destino,'- (.*?)$')

No Backup irei testar a extração avançada.

### Expressão regular => REGEXP_EXTRACT(destino,'- (.*?)$')

padrão - e espaço, e a partir daqui que vamos agir. Agrupamento depois do espaço (.*?)  isso para coletar os dados. 

No final não importa o final e a quantidade no final ‘*?’. 



https://learn.microsoft.com/pt-br/azure/databricks/sql/language-manual/functions/regexp_extract

https://cloud.google.com/looker/docs/studio/regexpextract?hl=pt-br

https://cloud.google.com/looker/docs/studio/regular-expressions-in-looker-studio?hl=pt-br

base para manipular o texto o REGEXP

REGEXP_CONTAINS	Retorna verdadeiro se o valor de entrada contém o padrão de expressão regular. Caso contrário, retorna falso.
    
Saiba mais sobre REGEXP_CONTAINS.
REGEXP_EXTRACT	Retorna a primeira substring no valor de entrada que corresponde ao padrão de expressão regular.

Saiba mais sobre REGEXP_EXTRACT.

REGEXP_MATCH	Retorna verdadeiro se o valor de entrada corresponde ao padrão de expressão regular. Caso contrário, retorna falso.

Saiba mais sobre REGEXP_MATCH.

EGEXP_REPLACE	Substitui todas as ocorrências de texto correspondentes ao padrão de expressão regular no valor de entrada pela string replacement.

Saiba mais sobre EGEXP_REPLACE.